.card {
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

@media (min-width:768px){
    .card {
        display: flex ;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

}
